@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400;0,500&display=swap");
/* General CSS */
* {
  margin: 0;
  padding: 0;
  font-family: "Libre Caslon Text", serif;
}
main {
  background: linear-gradient(119deg, #e5ffe9 30%, #dee8f9 70%);
  padding: 0 50vh;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  text-align: center;
  letter-spacing: 9px;
  font-weight: 500;
  font-size: 30px;
  padding: 4vh;
  margin-bottom: 1vh;
  border-bottom: 2px solid rgb(57, 123, 57);
}
h1:first-child {
  border-bottom: none;
}
h2 {
  font-size: 22px;
  font-weight: 600;
}
/* Header */
.menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}
.menu li {
  padding: 15px 30px;
  text-decoration: none;
}
.menu li a:hover {
  border-bottom: 2px solid rgb(57, 123, 57);
}
.menu li a {
  font-weight: 700;
}
header,
footer {
  display: flex;
  padding: 0 50vh;
  background-color: #e5ffe9;
}
.logo {
  width: 100px;
  height: 50px;
}
/* Footer */
footer {
  align-items: center;
  justify-content: space-evenly;
}

/* *********** Home ********** */
#intro {
  display: flex;
  align-items: center;
  padding: 5vh 0;
  gap: 2rem;
}
.profession {
  font-weight: 700;
}
.intro-left {
  letter-spacing: 3px;
  text-align: center;
}
.intro-left h1 {
  font-size: 48px;
  line-height: 80px;
  border: none;
}
.intro-left p:last-child,
.blog p {
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 2px;
}
.intro-right img {
  border: 2px solid white;
}
#home-about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  gap: 15px;
  padding: 3rem 0;
}
.home-about-me {
  width: 190px;
  background-color: black;
  color: white;
  padding: 13px;
}
.home-about-detail {
  padding: 10px 0;
}
.home-about-detail h2 {
  font-size: 20px;
}
.home-about-detail p {
  font-size: 14px;
}

/* *********  About-intro *************** */
.about-intro {
  display: flex;
  gap: 10px;
}
.about-intro p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 1.5rem;
  padding: 10px;
}
/* *********  About-exp *************** */
.exp-card {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  padding: 10px;
}
.exp-card p {
  font-size: 16px;
}
.exp-left {
  width: 20%;
}
.exp-right {
  width: 70%;
}
.education-card {
  text-align: center;
  padding: 10px;
}
.education {
  padding-bottom: 3rem;
}
/* *********** Project ********** */
#project-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid rgb(57, 123, 57);
  margin-bottom: 1rem;
  background-color: #dee8f9;
  align-items: center;
}
#project-card:last-child {
  margin: 0;
}
.project {
  padding-bottom: 3rem;
}
.skill {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.skill img {
  padding: 0 0.11rem;
}
#project-other {
  text-align: center;
}
#project-other img {
  border: 5px solid black;
}
#project-other img:hover {
  filter: blur(3px);
}
.hide {
  display: none;
}
.block {
  display: block;
}
#project-other button,
.blog button {
  display: inline-block;
  margin: 5px 10px;
  border: none;
}
button a:hover {
  font-size: 16px;
}
button a {
  padding: 4px 25px;
  background-color: rgb(57, 123, 57);
  color: #e5ffe9;
  font-weight: 600;
  font-size: 14px;
  opacity: 1;
}

.project-one p {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 2px;
  line-height: 1.4rem;
}
/* Blog */
.blog {
  text-align: center;
  border-right: 3px solid rgb(57, 123, 57);
  border-bottom: 3px solid rgb(57, 123, 57);
  padding: 5rem 1rem;
  margin: 2rem 0;
}
.blog:first-child {
  margin-top: 0;
}
.blog:last-child {
  margin: 0;
}
#blogs {
  padding-bottom: 3rem;
}
.blog p {
  font-size: 18px;
  padding: 2rem 0;
}
/* ********** Contact ********* */
#contact {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 1rem;
}
#contact img {
  border: 1px solid white;
  padding: 30px 0;
  background-color: gray;
}
.field {
  padding: 0.51rem 0;
}
.field label {
  padding-right: 30px;
}
.contact-detail button {
  padding: 4px 30px;
  background-color: gray;
  border: none;
  margin: 2rem 0;
}
.linkedin a {
  font-size: 32px;
  color: rgb(45, 45, 247);
  font-weight: 600;
}
/* Media Query */
@media only screen and (max-width: 1250px) {
  main,
  header,
  footer {
    padding: 0 30vh;
  }
  h1 {
    letter-spacing: 7px;
    padding: 2vh;
  }
}
@media only screen and (max-width: 1050px) {
  main,
  header,
  footer {
    padding: 0 25vh;
  }
  .about-intro img {
    width: 350px;
  }
  .about-intro p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.3rem;
  }
}
@media only screen and (max-width: 975px) {
  main,
  header,
  footer {
    padding: 0 15vh;
  }
}
@media only screen and (max-width: 850px) {
  main,
  header,
  footer {
    padding: 0 8vh;
  }
  .intro-left h1 {
    font-size: 42px;
    line-height: 60px;
  }
  .intro-right img {
    width: 270px;
  }
  .about-intro img {
    width: 250px;
  }
}
@media only screen and (max-width: 700px) {
  main,
  header,
  footer {
    padding: 0 4vh;
  }
  .intro-left h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .about-intro {
    display: block;
    text-align: center;
  }
  .exp-card {
    gap: 5%;
  }
  h2 {
    font-size: 20px;
  }
  #project-card {
    display: block;
    align-items: center;
  }

  #project-other {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 630px) {
  header,
  footer {
    padding: 0;
  }
  #intro {
    display: block;
    text-align: center;
  }
  .menu li {
    padding: 15px 10px;
  }
}
